# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vercel build output
.vercel

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo


# Build/Cache directories
dist/
build/
.cache/
.next/
out/
